@model IEnumerable<Code_First_MVC.Models.Movie>

@{ ViewBag.Title = "Movies Released in @ViewBag.Year"; }

<h2>Movies Released in @ViewBag.Year</h2>

<table>
    <tr>
        <th>Movie ID</th>
        <th>Movie Name</th>
        <th>Date of Release</th>
    </tr>

   @foreach(var movie in Model)
    {
<tr>
    <td>@movie.Mid</td>
    <td>@movie.MovieName </td>
    <td>@movie.DateOfRelease.ToString("yyyy-MM-dd")</td>
</tr>
