@model Customers_MVC.Models.Customer
@{
    ViewBag.Title = "CustomerDetailsForOrder";
}

<h2>CustomerDetailsForOrder</h2>

@if (Model != null)
{
    <p><strong>Customer ID:</strong> @Model.CustomerID</p>
    <p><strong>Company Name:</strong> @Model.CompanyName</p>
    <p><strong>Contact Name:</strong> @Model.ContactName</p>
    <p><strong>City:</strong> @Model.City</p>
    <p><strong>Country:</strong> @Model.Country</p> }
else
{
    <p>No customer found for this order ID.</p>
}
                                                                            